<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.EMSApp"
        tools:targetApi="31">


        <activity
            android:name=".leaves.LeavesActivity"
            android:exported="false" />

        <activity
            android:name=".target.targets"
            android:exported="false" />


        <activity
            android:name=".customers.AddCustomerActivity"
            android:exported="false" />
        <activity
            android:name=".customers.CustomerServiceIntrest"
            android:exported="false" />
        <activity
            android:name=".customers.addServiceIntrestActivity"
            android:exported="false" />
        <activity
            android:name=".profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".login.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".assets.AssetsActivity"
            android:exported="false"
            android:theme="@style/Base.Theme.EMSApp" />
        <activity
            android:name=".NoPermissionActivity"
            android:exported="false"
            android:label="@string/title_activity_no_permission"
            android:theme="@style/Base.Theme.EMSApp" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_map_api_key" />

        <activity
            android:name=".login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".base.BaseActivity"
            android:exported="false" />
        <activity
            android:name=".attendancecalendar.AttendanceCalendarActivity"
            android:exported="false" />
        <activity
            android:name=".markattendance.MarkAttendanceActivity"
            android:exported="false" />
        <activity
            android:name=".dashboard.DashboardActivity"
            android:exported="false"
            android:theme="@style/Base.Theme.EMSApp" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.EMS.splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.emsapp.selfie.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/selfie_paths" />
        </provider>
    </application>

</manifest>